



.border-hover {
	border-bottom: 3px solid transparent;
	transition: all .2s ease-in-out;
  }
  .border-hover:hover {
	border-bottom: 3px solid #fff;
	transition: all .2s ease-in-out;
  }
  .title-custom {
	font-weight: 900;
	font-size: 7rem;
	line-height: 1;
	z-index: 1;
  }
  @media (min-width: 769px) and (max-width: 1024px) {
	.title-custom {
	  font-size: 5rem;
	}
  }
  @media (max-width: 768px) {
	.title-custom {
	  font-size: 3.5rem;
	}
  }
  @media (min-width: 1025px) {
	.overlay-custom {
	  z-index: 1;
	  padding-left: 8rem;
	}
  }
  @import url(https://fonts.googleapis.com/css?family=Red+Hat+Display:900&display=swap);

/* Base */


h2 {
  background: url(https://raw.githubusercontent.com/s1mpson/-/master/codepen/black-lives-matter/victim-collage.png);
  background-size: 40%;
  background-position: 50% 50%;
  -webkit-background-clip: text;
  color: hsla(0, 0%, 0%, 0.08);
  animation: zoomout 10s ease 500ms forwards;
  font-size: 10vw;
}

@keyframes zoomout {
  from {
    background-size: 40%;
  }
  to {
    background-size: 10%;
  }
}